body {
    background: #163832;
    color: #DAF1DE;
    font-family: "JetBrains Mono", monospace;
    margin: 40px;
}

.container {
    width: 1100px;
    max-width: 95%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #8EB69B;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #DAF1DE;
    margin-bottom: 40px;
}

input {
    width: 70%;
    padding: 15px;
    background: #DAF1DE;
    color: #051F20;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
}

input::placeholder {
    font-family: "JetBrains Mono", monospace;
    color: #50645d;
    opacity: 1;
}

button {
    padding: 15px 22px;
    background: #235347;
    color: #DAF1DE;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    transition: all .25s ease;
}

button:hover {
    background: #051F20;
    transform: translateY(-2px);
}

.card {
    margin-top: 30px;
    background: #0B2B26;
    border: 1px solid #235347;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
}

h2 {
    color: #8EB69B;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
}

table {
    width: 100%;
}

td {
    padding: 16px 12px;
    vertical-align: top;
}

td:last-child {
    word-break: break-word;
    overflow-wrap: break-word;
}

.label {
    width: 220px;
    color: #DAF1DE;
    font-weight: 700;
    vertical-align: top;
}

.valid {

    color: #6EEB83;

    font-weight: bold;

}

.warning {

    color: #FFD166;

    font-weight: bold;

}

.danger {

    color: #EF476F;

    font-weight: bold;

}

.header-value {

    margin-top: 8px;

    font-size: 0.9rem;

    color: #B8D6C2;

    word-break: break-word;

    line-height: 1.5;

}